@import "../../../variables.scss";

$tile-width: 180px;
$tile-height: 250px;

.user-tiles {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-left: $big-blocks-offset;
    padding-right: $big-blocks-offset;
    
    margin-block-start: 0;

    &__tile {
        position: relative;
        display: flex;
        flex-basis: $tile-width;
        flex-grow: 1;
        flex-direction: column;
        width: $tile-width;
        height: $tile-height;
        margin: 1em;
    }

    &__placeholder {
        content: "";
        display: flex;
        flex-basis: $tile-width;
        flex-grow: 1;
        width: $tile-width;
        height: 0;
        margin-left: 1em;
        margin-right: 1em;
    }
}

@mixin tile-label {   
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: $tile-width;
    margin-left: auto;
    margin-right: auto;
}

.user-tile {
    background-color: $super-extra-light-gray;
    text-align: center; 
    font-size: 14px;
    padding: 5px;

    & > * {
        padding: 0;
    }

    &__name {
        padding-top: 38px;
        font-weight: bold;
        margin-top: 6px;
        margin-bottom: 6px;
        @include tile-label;
    }

    &__picture {
        width: 90px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        overflow: hidden;
    }

    &__phone {       
        margin-top: 3px;
        margin-bottom: 3px;
        @include tile-label;
    }

    &__group {      
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 12px;
        @include tile-label;

        &_unmanaged {
            font-weight: bold;
        }
    }

    &__check {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }

    &__check-plate {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        cursor: pointer;
    }

    &__upload-button {
        width: 28px;
        height: 28px;
        outline: none;
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("./img/cloud-upload.svg"); 
        background-color: transparent;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
    }
}
