$big-blocks-offset: 40px;
$medium-blocks-offset: 30px;
$small-blocks-offset: 8px;

.users-container {
    &__header-panel {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        & > * {
            margin: $medium-blocks-offset;
        }
    }

    &__content-panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.switcher {
    display: inline-block;
    justify-content: flex-start;
    padding-top: 3px; 

    & > *{ 
        margin: 0 $small-blocks-offset 0 $small-blocks-offset;
    }

    &__button{
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        cursor: pointer;
        opacity: 0.2;

        &:hover {
            opacity: 0.6;
        }

        &_active {
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }

        &_type_tile {
            background-image: url("../../img/tile-view.svg"); 
        }

        &_type_group {
            background-image: url("../../img/group-view.svg"); 
        }

        &_type_table {
            background-image: url("../../img/table-view.svg"); 
        }
    }
}

.search {
    display: inline-block;
    align-items: baseline;

    &__input,
    &__label {
        font-size: calc(10px + 1vmin);
    }

    &__label {
        padding-right: 1ch;
        color: rgb(87, 87, 87);
    }

    &__input {
        outline: none;
        border: 2px solid lightgray;
        padding-left: 0.5ch;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
}

$odd-color: white;
$even-color: rgb(245, 245, 245);

$unmanaged-odd-color: aliceblue;
$unmanaged-even-color: rgb(223, 232, 240);

.users-table {
    display: table;
    width: 100%;

    &__cell {
        display: table-row;
        background-color: $odd-color;

        &:nth-child(2n) {
            background-color: $even-color;
        }

        &_unmanaged {
            background-color: $unmanaged-odd-color;

            &:nth-child(2n) {
                background-color: $unmanaged-even-color;
            }
        }
    }
}

$group-width: 200px;
$group-height: 300px;

.user-groups {
    list-style: none;
    column-gap: 2em;
    columns: 5;
    column-fill: balance;
    margin: 0;
    padding: $big-blocks-offset;
    margin-bottom: $big-blocks-offset;

    &__group {
        display: flex;
        flex-direction: row;
        width: $group-width;
        height: $group-height;
        background-color: aliceblue;
        margin-bottom: 2em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

$tile-width: 200px;
$tile-height: 300px;

.user-tiles {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-inline-start: $big-blocks-offset;
    padding-inline-end: $big-blocks-offset;
    margin-block-start: 0;

    &__tile {
        display: flex;
        flex-basis: $tile-width;
        flex-grow: 1;
        flex-direction: column;
        background-color: bisque;
        width: $tile-width;
        height: $tile-height;
        margin: 1em;
    }

    &__placeholder {
        content: "";
        display: flex;
        flex-basis: $tile-width;
        flex-grow: 1;
        width: $tile-width;
        height: 0;
        margin-left: 1em;
        margin-right: 1em;
    }
}

