@import "../variables.scss";

.users-container {
    &__header-panel {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        & > * {
            margin: $medium-blocks-offset;
        }
    }

    &__content-panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}