@import "../variables.scss";

.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10vmin;
}

.welcome-text {
    font-size:  calc(#{$min-font-size} + 1vmin);
    display: block;
    width: 20%;
    padding: 10px;
}
