.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10vmin;
}

.welcome-text {
    font-size: 18px;
    display: block;
    width: 20%;
    padding: 10px;
}
