@import "./blocks/variables.scss";

.app {
    text-align: center;
    min-width: 600px;
    overflow: auto;

    &__header {
        background-color: #282c34;
        height: 20vmin;
        width: 100vw;
        min-width: 600px;
        overflow: auto;
        display: table-cell;
        vertical-align: bottom;
        font-size: calc(#{$min-font-size} + 2vmin);
        color: white;
    }

    &__link-container {
        height: 1.7em;
    }

    &__link {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 1.2ch;
        padding-right: 1.2ch;
        opacity: 0.4;
      
        &::before {
            content: "[ ";
        }
      
        &::after {
            content: " ]";
        }

        &:hover {
            opacity: 0.7;
        }

        &_active {
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }
    }
}
