.app {
  text-align: center;

  &__header {
    background-color: #282c34;
    height: 200px;
    width: 100vw;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__link-container {
    height: calc(20px + 1em);
  }

  &__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  
    &::before {
      content: "[ ";
    }
  
    &::after {
      content: " ]";
    }
  }
}

